<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= scriptAppName %></title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css css/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css({.tmp,app}) css/main.css -->
        <link rel="css" href="css/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="<%= scriptAppName %>" animation="slide-left-right-ios7">
        <!-- Add your site or application content here -->
        <% if (ngRoute) {
        %><div class="container" ng-view></div><%
        } else {
        %><div class="container" ng-include="'tpl/main.html'" ng-controller="MainCtrl"></div><%
        } %>

        <!-- cordova script -->
        <script src="cordova.js"></script>

        <!-- build:js js/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

    </body>
</html>
